
.Mytitle{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
    margin: 11px;
}

.newsimgitem{
    padding-top: 7px;
}

.spinnerimg{
    display: flex ;
    justify-content: center;
}

.sourcetag{
    z-index: 1;
    right: 60px;
} 

.heading{
    margin-top: 57px;
}